<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Bienvenido a <%= nombre %></h1>
	<ul>
		<% menu.forEach(function(enlace) { %>
			<li>
				<a href="<%= enlace.url %>">
					<%= enlace.txt %>
				</a>
			</li>
		<% }); %>
	</ul>
	</body>
</html>